<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: htmlHead">
    <meta charset="UTF-8">
    <title>time</title>
</head>

<body>

<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="row vh-100">
    <div class="container bg-light">
        <h2 class="header" href="#">Current time: </h2>
        <h4 th:text="${currentTime}"></h4>
        <div class="align-items-md-center col card p-3 mb-5 vh-100">
            <br/>
            <h4>Time machine</h4>
            <form method="POST" action="/time/add" class="justify-content-center-center">
                <p>
                    <label for="years">Years</label>
                    <input type="text" name="years" id="years" value="0">
                </p>
                <p>
                    <label for="months">Months</label>
                    <input type="text" name="months" id="months" value="0">
                </p>
                <p>
                    <label for="days">Days</label>
                    <input type="text" name="days" id="days" value="0">
                </p>
                <p><input type="submit" value="Add" class="btn btn-secondary"></p>

            </form>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<div th:replace="fragments/scripts :: script"></div>

</body>
</html>