<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: htmlHead">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="row vh-100">
    <div class="container bg-light">
        <br/>
        <h1>Banks manager</h1>
        <h5>Simple app for managing banks, clients and their accounts</h5>
        <div class="container">
            <img
                    src="https://kartinkin.net/pics/uploads/posts/2022-07/1657056337_39-kartinkin-net-p-kot-s-dengami-art-krasivo-42.jpg"
                    class="img-thumbnail" alt="bank kittie">
        </div>

    </div>
</div>


<div th:replace="fragments/scripts :: htmlBody"></div>
</body>
</html>